---

---

<div class="logo">
  <div class="logo__icon">
    <img src="/images/icon-letitgo.png" alt="" />
  </div>
  <div class="logo__text">letitgo</div>
</div>

<style lang="scss">
  .logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1rem;

    &__icon {
      img {
        height: 3rem;
        filter: brightness(0);
        user-select: none;
      }
    }

    &__text {
      color: var(--color-text-primary);
      font-size: 3rem;
      font-family: var(--font-family-logo);
      transform: translateZ(0px);
    }
  }
</style>
