---

---

<div class="logo">
  <div class="icon">
    <img src="/images/icon-letitgo.png" alt="">
  </div>
  <div class="text">letitgo</div>
</div>

<style lang="scss">
  .logo {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .icon {
    img {
      user-select: none;
    }
  }

  .text {
    color: var(--color-text-primary-inverse);
    font-size: 3rem;
    font-family: var(--font-family-logo);
    will-change: scale;
  }
</style>