:root {
  --color-surface-0: hsl(247, 14%, 51%);
  --color-surface-1: hsl(247, 14%, 41%);
  --color-text-primary: hsl(120, 1%, 10%);
  --color-text-primary-inverse: hsl(120, 1%, 95%);
  --color-text-secondary: hsl(120, 1%, 30%);

  --font-family-primary: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-logo: "Pacific";

  --fz-body: 1rem;
}
