:root {
  --color-surface-0: hsl(42, 45%, 95%);
  --color-surface-1: hsla(0,0%,100%,0.5);

  --color-text-primary: hsl(120, 1%, 15%);
  --color-text-primary-inverse: hsl(120, 1%, 85%);
  --color-text-secondary: hsl(120, 1%, 30%);
  --color-text-danger: hsl(5, 90%, 60%);

  --color-line: hsl(45deg 30% 80%);

  --font-family-primary: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-logo: "Pacific";

  --fz-body: 1rem;
}
