---
import ProductCard from "./ProductCard.astro";
import { getCollection } from "astro:content";

const products = await getCollection("products");
---

<section class="products">
  {products.map((product) => <ProductCard product={product} />)}
</section>

<style lang="scss">
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
