---
const { code, name, price } = Astro.props;
---

<button
  class="addToCartBtn"
  :class="{'inCart' : inCart}"
  data-code={code}
  data-name={name}
  data-price={price}
  x-data="product()"
  @click=`toCart()`
  x-text="btnLabel"></button>
