---
interface Props {
  code: string;
}

const { code } = Astro.props;

// Get product images
const images = import.meta.glob('/src/images/product/*', { eager: true });
const imagesProps = Object.values(images).map(image => image.default);
const productImages = imagesProps.filter(image => image.src.includes(code));
---

<div class="product-photos">
  {productImages.map(image => (
    <img src={image.src} alt="" width={image.width} height={image.height} loading="lazy"/>
  ) )}
</div>

<style lang="scss">
  .product-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
