---
import CartAddItemIcon from "@/components/icon/CartAddItemIcon.astro";
import CartItemAddedIcon from "@/components/icon/CartItemAddedIcon.astro";

const { product } = Astro.props;
---

<button
  class="addToCartBtn"
  :class="{'inCart' : inCart}"
  data-code={product.data.code}
  data-name={product.data.name}
  data-price={product.data.price}
  data-image={product.data.images[0].src}
  x-data="product()"
  @click=`toCart()`
  :title="btnLabel"
>
  <template x-if="inCart">
    <div class="_label +incart">
      <CartItemAddedIcon />
    </div>
  </template>
  <template x-if="!inCart">
    <div class="_label">
      <CartAddItemIcon />
    </div>
  </template>
</button>

<style lang="scss">
  .addToCartBtn {
    font-size: 2.5rem;
    color: #fff;

    ._label {
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(1px 1px 3px var(--color-text-secondary));

      &.\+incart {
        color: hsl(120, 100%, 75%);
        animation: jello-horizontal 0.4s both;
      }
    }
  }
</style>
