---
interface Props {
  code: string;
}

import { Image } from "astro:assets";
import getProductImagesByCode from "@/utils/getImages";

const { code } = Astro.props;

const productImages = getProductImagesByCode(code);
---

<div class="product-photos">
  {
    productImages.map((image) => (
      <div class="photo">
        <Image src={image} alt="" decoding="auto" />
      </div>
    ))
  }
</div>

<style lang="scss">
  .product-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
