---
import DotsSpinner from "@/components/icon/DotsSpinner.astro";

const { code, name, price } = Astro.props;
---

<button
  class="addToCartBtn"
  :class="{'inCart' : inCart}"
  data-code={code}
  data-name={name}
  data-price={price}
  x-data="product()"
  @click=`toCart()`
  x-text="btnLabel"
>
  <DotsSpinner />
</button>

<style lang="scss">
  .addToCartBtn {
    -webkit-appearance: none;
    padding: .5rem;
    background: none;
    border: 0;
    font-size: 1.125rem;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }
</style>