---
import Letitgo from "@/layouts/Letitgo.astro";
import ProductList from "@/components/product/ProductList.astro";
import Cart from "@/components/cart/Cart.astro";
---

<Letitgo>
  <h1>letitgo - украшения ручной работы</h1>
  <Cart />
  <ProductList />
</Letitgo>
