---
import Letitgo from "@/layouts/Letitgo.astro";
import ProductList from "@/components/product/ProductList.astro";
---

<Letitgo page="index">
  <h1 class="+hidden">letitgo - украшения ручной работы</h1>
  <ProductList />
</Letitgo>
