---
import Letitgo from "@/layouts/Letitgo.astro";

import ProductList from "@/components/product/ProductList.astro";
---

<Letitgo>
	<h1>letitgo - украшения ручной работы</h1>

	<ProductList/>
</Letitgo>