---
import Letitgo from "@/layouts/Letitgo.astro";
---

<Letitgo>
  <section>
    <form id="contact-form">
      <!-- To simplify the tutorial, the value is static. -->
      <!-- <input type="hidden" name="contact_number" value="697483" /> -->
      <label>Имя</label>
      <input type="text" name="fromName" />
      <label>Телефон</label>
      <input type="tel" name="fromPhone" />
      <label>Комментарий</label>
      <textarea name="fromMessage"></textarea>
      <input type="submit" value="Send" />
    </form>
  </section>

  <script is:inline type="text/javascript">
    window.onload = function () {
      document
        .getElementById("contact-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          // these IDs from the previous steps
          console.log("sending...");
          emailjs.sendForm("service_72h0drh", "template_61e5xwp", this).then(
            () => {
              console.log("SUCCESS!");
            },
            (error) => {
              console.log("FAILED...", error);
            },
          );
        });
    };
  </script>
</Letitgo>
