---
import urls from "@/data/urls.ts";
import Logo from "@/components/partial/Logo.astro";
import CartIcon from "@/components/icon/CartIcon.astro";
import ArrowLeftIcon from "@/components/icon/ArrowLeftIcon.astro";
---

<header class="header" transition:animate="none">
  <div class="container">
    <div class="header__inner">
      <aside class="header__back">
        <div
          class="header__link +reversed"
          onclick="window.history.go(-1); return false;"
        >
          <div class="_text">назад</div>
          <div class="_icon"><ArrowLeftIcon /></div>
        </div>
      </aside>
      <div class="header__logo">
        <a href="/">
          <Logo />
        </a>
      </div>
      <div class="header__cart">
        <a class="header__link header__cartLink" href={urls.cart}>
          <span class="_text">корзина</span>
          <div class="_icon">
            <CartIcon />
            <span x-text="getCartCount()"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-line);
    background: var(--color-surface-0);

    &__inner {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
      grid-template-areas: "back logo cart";
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--color-text-primary);
      cursor: pointer;

      ._text {
        opacity: 0;
        translate: var(--_text-translate, 5px) 0;
        transition:
          opacity 0.25s,
          translate 0.25s;
      }

      &:hover ._text {
        opacity: 1;
        translate: 0;
      }

      ._icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
      }

      &.\+reversed {
        --_text-translate: -5px;
        flex-direction: row-reverse;
      }
    }

    &__back {
      grid-area: back;
      place-self: end start;
    }

    &__logo {
      grid-area: logo;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__cart {
      grid-area: cart;
      place-self: end end;

      ._icon {
        display: flex;
        align-items: center;

        span {
          font-size: .75rem;
        }
      }
    }

    // hide on 'index' page
    &__back {
      :global([data-page="index"]) & {
        display: none;
      }
    }

    // hide on 'cart' page
    &__cart {
      :global([data-page="cart"]) & {
        display: none;
      }
    }
  }
</style>
