---
import "@/styles/index.scss";

import { ViewTransitions } from "astro:transitions";
import ExternalFonts from "@/components/ExternalFonts.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  page?: string;
}

const { title = "letitgo - украшения ручной работы", description = "Украшения ручной работы. Натуральный жемчуг!", page } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="keywords" content="украшения, жемчуг, ожерелье, handmade">
    <ViewTransitions />
    <ExternalFonts/>
  </head>

  <body class="letitgo" data-page={page} x-data="letitgo()">
    <Header />
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<script is:inline>
  document.addEventListener("alpine:init", () => {
    Alpine.store("cart")
  });

  function letitgo() {
    // console.log('letitgo is running')
    items = JSON.parse(localStorage.shoppingCart || '[]');
    Alpine.store('cart', items);

    return {
      product() {
        return {
          inCart: false,
          btnLabel: 'В корзину',

          init() {
            Alpine.store('cart', items);
            const product = {}
            product.code = this.$el.dataset.code

            if (Alpine.store('cart').some(e => e.code === product.code)) {
              this.inCart = true;
              this.btnLabel = 'Уже в корзине'
            }
            else {
              this.inCart = false;
            }
            // console.log("product loaded");
          },

          toCart() {
            const product = {}
            product.code = this.$el.dataset.code;
            product.name = this.$el.dataset.name;
            product.price = this.$el.dataset.price;
            product.image = this.$el.dataset.image;

            if (!Alpine.store('cart').some(e => e.code === product.code)) {
              this.inCart = true
              this.btnLabel = 'Добавлено';
              items.push(product);
              localStorage.setItem('shoppingCart', JSON.stringify(items));
              Alpine.store('cart', items);
              // console.log('Product ' + product + ' added');
              // console.log(Alpine.store('cart'));
              // console.log(product)
            }
          },
        };
      },

      cart() {
        return {
          init() {
            label = "Корзина"
            products = items;
            // console.log('cart loaded');
          }
        }
      },

      clearCart() {
        items = [];
        localStorage.setItem('shoppingCart', []);
        Alpine.store('cart', []);
        // console.log('clearCart done')
      }
    }
  }
</script>