---
import "@/styles/index.scss";

import { ViewTransitions } from "astro:transitions";
import MailJS from "@/components/MailJS.astro";
import CartJS from "@/components/CartJS.astro";
import ExternalFonts from "@/components/ExternalFonts.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  page?: string;
}

const {
  title = "letitgo - украшения ручной работы",
  description = "Украшения ручной работы. Натуральный жемчуг!",
  page,
} = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="украшения, жемчуг, ожерелье, handmade" />
    <ViewTransitions />
    <ExternalFonts />
    <MailJS />
    <CartJS />
  </head>

  <body class="letitgo" data-page={page} x-data="letitgo()">
    <Header />
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
